<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="col-lg-6 vh-100" style="background-color: #262769;">
        <div style="color: yellow;" class="background">
          <div class="heading">
            <b>
              <center style="color: white;">Become A Memeber</center>
            </b>
          </div>
          <p class="promo-title">
            Join Us, join Our Panjab And also earn with us, A great platform for you to
            generate a passive income by enjoying game of football and enjoying your favorite player in PanjabFA
          </p>
          <div>
            <img style="display: block; height: 150px; width: auto;
              margin-left: auto;
              margin-right: auto;" src="../img/qr-code.png">
          </div>

          <div class="center">
            <button style="width:auto;">
             Click here to proceed...</button>
          </div>
        </div>
      </div>
</body>

</html>